* {
  margin: 0;
  padding: 0;
  font-family: "futura md bt";
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
a {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}

body {
  background: #dee2e682;
}
li {
  text-align: center;
}
header {
  /* position: absolute; */
  background: #96a0a954;
  width: 92%;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  margin-left: 4%;
  border-radius: 20px;
}
header .logo {
  font-size: 30px;
  text-transform: uppercase;
}
header nav ul {
  display: flex;
}
header nav ul li a {
  font-size: 24px;
  display: inline-block;
  color: #000;
  padding: 5px 0;
  margin: 0 23px;
  border: 3px solid transparent;
  text-transform: uppercase;
  /* text-decoration: none; */
  transition: 0.2s;
}
header nav ul li a:hover {
  text-decoration: none;
  color: #000;
}
header nav ul li a:hover,
header nav ul li a.active {
  border-bottom-color: dodgerblue;
}
.hamburger {
  cursor: pointer;
  display: none;
}
.hamburger div {
  width: 30px;
  height: 3px;
  margin: 5px 0;
  background: #000;
}
@media only screen and (max-width: 900px) {
  header {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 700px) {
  .hamburger {
    display: block;
  }
  header nav {
    position: absolute;
    width: 100%;
    left: -105%;
    top: 110px;
    width: 100%;
    background: #dee2e682;
    padding: 30px;
    transition: 0.3s;
    border-radius: 20px;
  }
  header .logo img {
    max-width: 57%;
  }
  header #nav_check:checked ~ nav {
    left: 0;
  }
  header nav ul {
    display: block;
  }
  header nav ul li a {
    margin: 5px 0;
  }
}
